<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="{{ static_url('jquery.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url('semantic/semantic.min.css')}}">
    <script src="{{ static_url('semantic/semantic.min.js')}}"></script>
    <script src="{{ static_url('vue.min.js')}}"></script>
    <script src="{{ static_url('vue-resource.min.js')}}"></script>
    <script src="{{ static_url('myjs.js')}}"></script>
    <script>
        Vue.config.delimiters = ['${', '}']
    </script>
</head>
